
        <style type="text/css">
            
            img { max-width: 800px; max-height: 350px; }

        </style>


        <div class="row" >
       
            <div class="col-md-12">
                <h1>Como funciona?</h1>
                <p>Veja passo a passo em detalhes como nossa plataforma pode contruibuir para que sua CFC se destaque ainda mais!</p>
            </div>
        </div>

        <hr>


        <div class="row">
            <div class="alert alert-success" style="margin: 10px;" role="alert" ng-show="contatoCtrl.msg">{{contatoCtrl.msg}}</div>
            <div class="alert alert-danger" style="margin: 10px;" role="alert" ng-show="contatoCtrl.msgErro">{{contatoCtrl.msgErro}}</div>
        </div>


        <div class="row">
            
            <div  class="col-md-8" style="padding:20px;" >
               <h4><img src="/img/imgs_funcionamento/one.png" /> Você cria a conta de sua CFC. Cadastra seus instrutores. Tudo bem simples e rápido. </h4>

                <img src="/img/imgs_funcionamento/cadastro_cfc.jpg" />

            </div>

            <div class="col-md-4">
               
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
               
            </div>

            <div  class="col-md-8"   style="padding:20px; text-align: right;" >
               <h4> <img src="/img/imgs_funcionamento/two.png" /> Cadastre seu aluno de direção pelo site ou pelo aplicativo do próprio instrutor. </h4>

               <img src="/img/imgs_funcionamento/cadastro_aluno.jpg" />
               
            </div>
        </div>

         <div class="row">
            <div  class="col-md-8" style="padding:20px;" >
               <h4><img src="/img/imgs_funcionamento/three.png" />Durante cada aula o instrutor vai avaliando os exercícios executados pelo aluno. Também registra as possíveis faltas/penalidades cometidas. O app do instrutor está disponível para download no google play. </h4>

               
               <img src="/img/imgs_funcionamento/avaliacao_instrutor.jpg" />
               
            </div>
            <div class="col-md-4">
               
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
               
            </div>

            <div  class="col-md-8"   style="padding:20px; text-align: right;" >
               <h4><img src="/img/imgs_funcionamento/four.png" /> Essas informações serão armazenadas e estarão acessíveis pelo aluno e por sua CFC. Assim você consegue acompanhar o desempenho de seu aluno. Detectando possíveis pontos fracos mais facilmente. Desta forma você consegue preparar melhor seu aluno. Aumentando a satisfação do seu aluno e seu índice de aprovação.  </h4>

               <img src="/img/imgs_funcionamento/graficos_desempenho.png" />


            </div>
        </div>

    </div>
