        
        <style type="text/css">
            
            #tabelaPrecos .row div{ min-height: 50px; vertical-align: middle; padding : 5px; border: 1px solid #c3c3c3;  }

            .semBorda{ border: 0px!important; }

        </style>


        <div class="row" ng-controller="PrincipalController">
       
            <div class="col-md-12">
                <h1>Planos e Preços</h1>
                <p></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-1">
               
            </div>
            <!-- /.col-md-4 -->
            <div id="tabelaPrecos" class="col-md-10" style="background: #d6e9c6;">
                <div class="row">
                    <div class="col-md-6 semBorda" >Confira nossa funcionalidades</div>
                    <div class="col-md-3">
                        <p style="font-size: 14px;">Gratis</p>
                        <p style="font-size: 14px; color: green;">R$ 0,00</p>
                        <p>Experimente nossa plataforma sem gastar nenhum real!</p>
                    </div>
                    <div class="col-md-3">
                        <p style="font-size: 14px">Plano Top</p>
                        <p style="font-size: 14px; color: green;">R$ 89,90</p>
                        <p>Por um valor bem baixo sua CFC fica muito mais potente!</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">App Instrutor</div>
                    <div class="col-md-3" style="text-align: center;"> <img src="/img/img_ok.png" /> </div>
                    <div class="col-md-3" style="text-align: center;"> <img src="/img/img_ok.png" /> </div>
                </div>

                <div class="row">
                    <div class="col-md-6">Visualização do desempenho pelo aluno</div>
                    <div class="col-md-3" style="text-align: center;"> <img src="/img/img_ok.png" /> </div>
                    <div class="col-md-3" style="text-align: center;"> <img src="/img/img_ok.png" /> </div>
                </div>

                <div class="row">
                    <div class="col-md-6">Personalizar exercícios/faltas</div>
                    <div class="col-md-3" style="text-align: center;"> <img src="/img/img_ok.png" /> </div>
                    <div class="col-md-3" style="text-align: center;"> <img src="/img/img_ok.png" /> </div>
                </div>

                <div class="row">
                    <div class="col-md-6">Qtd instrutores liberados</div>
                    <div class="col-md-3" style="text-align: center;"> <p>1</p> </div>
                    <div class="col-md-3" style="text-align: center;"> <p>Ilimitado</p> </div>
                </div>

                <div class="row">
                    <div class="col-md-6">Qtd máx alunos cadastrados</div>
                    <div class="col-md-3" style="text-align: center;"> <p>100</p> </div>
                    <div class="col-md-3" style="text-align: center;"> <p>Ilimitado</p> </div>
                </div>

                <div class="row">
                    <div class="col-md-6">Relatórios de desempenhos gerais de seus alunos</div>
                    <div class="col-md-3" style="text-align: center;"> <img src="/img/img_nok.png" /> </div>
                    <div class="col-md-3" style="text-align: center;"> <img src="/img/img_ok.png" /> </div>
                    
                </div>

            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-1">
               
            </div>
        </div>
